<mat-toolbar>
  <span class="app-name">
    <button mat-icon-button class="example-icon" aria-label="Button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h2>Among RPS</h2>
  </span>

  <span class="app-name">
    <button mat-raised-button (click)="openMatchDialog()">
      <span *ngIf="!userMatch">Create Match</span>
      <span *ngIf="userMatch">Edit Match</span>
    </button>
    <h5 class="clickable" (click)="openUserDialog()">
      <span *ngIf="user.displayName?.length">{{user.displayName}}</span>
      <span *ngIf="!user.displayName?.length">Undefined User</span>
    </h5>
  </span>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button mat-raised-button (click)="logout()">Sign Out</button>
  </mat-drawer>

  <div class="game-content">
    <mat-grid-list cols="3">
      <mat-grid-tile colspan="1" rowspan="2">
        <app-matches-list [matches]="matches" class="matches-list"></app-matches-list>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="2">
        INFO
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-drawer-container>
